- content_for :title do
  = @title

- content_for :html_foot do
  %script{:src => rocketio_js}
  %script{:src => "#{app_root}/js/index.js"}

%div#header
  %h1= @title
%div#main
  %div
    %div#temp
    %div#light